body {
	font-family: "Comic Sans MS", cursive, sans-serif;

}


.page-wrapper {
	margin: 0 auto;
}

.intro {
	text-align: center;

}

/* Landing Page */
header {

	height: 1000px;
	background: url(../images/background.jpg) no-repeat center center fixed;
	background-size: cover;
	position: relative;
	

}

header h1, header h2 {
	font-size: 3em;
	color: #FDE3A7;
	position: absolute;

}

header h1 {
	top: 100px;
	left: 0;
	width: 100%;
}
header h2 {
	left: 0;
	width: 100%;
	top: 300px;
}

/* Main Columns */

.summary {
	font-size: 2em;
	font-weight: bolder;
	

}

.preamble {
	float: left;
	width: 30%;
	margin-right: 20px;
	margin-left: 180px;
	padding-left: 90px;
}

.main {
	position: relative;
	margin-left: 200px;
	margin-right: 200px;
	border: 5px solid black;

}


.explanation h3 {
	text-align: center;
}

.explanation,
.participation,
.benefits {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	width: 40%;
	text-align: center;

}


.requirements {
	position: absolute;
	width: 60%;
	left: 200px;
	top: 1200px;
}

.participation,
.benefits {
	padding-left: 50px;
}

/* Sidebars */

.sidebar {
	position: relative;
}

nav {
	
	width: 15%;
	position: absolute;
	bottom: 800px;

}

.select {
	display: inline-block;

}

.design-archives {
	position: relative;
	bottom: 300px;
}
/*.sidebar {
	position: relative;
}


.zen-resources {
	position: absolute;
	left: 1070px;
	bottom: 1100px;
	border: 2px solid black;
}

.design-archives {
	position: absolute;
	bottom: 1180px;
	border: 2px solid black;
}

.select {
	display: inline-block;
}*/




/* Clearfix */

.supporting:after {
	content:"";
	display: table;
	clear: both;
}

footer {
	content:"";
	display: table;
	clear: both;
}