body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;

}


.page-wrapper {
	position: relative;
	margin: 0 auto;
	background: linear-gradient( 140deg, #FDE3A7, #EB9532);
	margin-right: -8px;
	margin-left: -8px;
	margin-top:-10px;
	margin-bottom: -10px;


}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: coral;
}


h3 {
	font-size: 1.7em;
	color: #2c3e50;
	text-decoration: underline;
}



/* Landing Page */
header {

	height: 1000px;
	background: url(../images/background.jpg) no-repeat center center fixed;
	background-size: cover;
	position: relative;

	

}

header h1, header h2 {
	font-size: 3em;
	color: #FDE3A7;
	position: absolute;


}

header h1 {
	top: 100px;
	left: 0;
	width: 100%;
}
header h2 {
	left: 0;
	width: 100%;
	top: 300px;
}

/* Main Columns */
.intro {
	text-align: center;
	font-size: 1.3em;
	border-bottom: 3px solid black;

}

.summary {
	font-style: italic;

}

.explanation,
.participation,
.benefits,
.requirements {
	float: left;
	width: 35%;
	margin: 10px 10px;
}

.requirements {
	width: 38%;
}

.benefits {
	padding-bottom: 322px;
	background: url(../images/buddhahead.jpg) no-repeat;
	background-size: 100%;
	background-position: bottom;
	border-radius: 10%;
}

.main h3 {
	text-align: center;
}
/* Sidebar */

.sidebar {
	position: absolute;
	left: 75%;
	bottom: 335px;
	margin-left: 50px;


}

.sidebar ul{
	list-style-type: georgian;
	padding: 0;
}

.sidebar li {
	font-size: 1.5em;
}
.design-selection {
	margin-right: 10px;
}

.zen-resources,
.design-archives {
	margin-left: 50px;
}
/* Footer */

footer {
	background: url(../images/laying.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin: 0 auto;
	height: 200px;
	width: 100%;
	text-align: center;
}

footer a {
	font-style: oblique;
	color: black;
	margin: 0;
	background-color: #EB974E;

}

footer a:hover {
	padding: 30 30;
	color: white;
}



.zen-validate-html,
.zen-validate-css,
.zen-license,
.zen-accessibility,
.zen-github {
	position: relative;
	margin-left: 30px;
	margin-right: 25px;
	font-size: 3em;
	top: 80px;
	border: 5px solid black;
	border-radius: 50%;
	padding: 10 10;
	
}

/* Clearfix */

.supporting:after {
	content:"";
	display: table;
	clear: both;
}

footer {
	content:"";
	display: table;
	clear: both;
}

/* Media Queries */



/* ERROR : Main Columns */
/*
.summary {
	font-size: 2em;
	font-weight: bolder;
	

}

.preamble {
	float: left;
	width: 30%;
	margin-right: 20px;
	margin-left: 180px;
	padding-left: 90px;
}

.main {
	position: relative;
	margin-left: 200px;
	margin-right: 200px;
	border: 4px solid black;

}


.explanation h3 {
	text-align: center;
}

.explanation,
.participation,
.benefits {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	width: 40%;
	text-align: center;
}


.requirements {
	display: inline-block;
	left: 200px;
	top: 1200px;
	
}

.requirements h3 {
	text-align: center;
}

.participation,
.benefits {
	padding-left: 50px;
}
*/

/*  ERROR: Sidebars */
/*
.sidebar {
	position: relative;
}

nav {
	
	width: 15%;
	position: absolute;
	bottom: 1200px;

	


}

.design-archives {
	margin-bottom: 70px;
}

.select {
	
	position: relative;
	bottom: 1400px;
	margin-left: 5px;


}

.archives {
	position: relative;
	bottom: 1280px;
	margin-left: 20px;

	
}

.resources {
	position: absolute;
	bottom: 150px;
	left: 25px;

	
}

.zen-resources {
	position: relative;
	left : 1040px;
	bottom: 1640px;
}


.design-archives {
	position: relative;
	bottom: 300px;
}
*/
/* Footer */
